

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header, .dark {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 150px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.right {
    display: flex;
    margin-right: 150px;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

header li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-left: 150px;
}

img {
    width: 550px;
    height: 235px;
    margin-right: 170px;
    background-color: grey;
}

.dark p {
    margin-top: 10px;
    margin-left: 150px;
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.dark button {
    background-color: #3882f6;
    color: #e5e7eb;
    margin-top: 15px;
    margin-left: 150px;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
    height: 35px;
    border: none;
}

.dark {
    height: 400px;
}

header {
    height: 140px;
}

.light-1 {
    height: 400px;
}

.light-1 h2 {
    color: black;
    text-align: center;
    margin: 50px;
}

.light-1 p {
    height: 100px;
    text-align: center;
    margin-top: 5px;
}

.ig {
    border: 5px solid #3882f6;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.pai {
    display: flex;
    justify-content: center;
    margin: 0 300px;
}

.pig {
    margin-left: 50px;
}

.grey {
    background-color: #E5E7EB;
    height: 300px;
}

.block {
    padding: 80px;
}

.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    margin-left: 290px;
    margin-right: 230px;
}

.grey p {
    text-align: end;
    font-weight: 600;
    margin-right: 330px;
    margin-left: 290px;
    font-size: 20px;
}

.last {
    background-color: #3882f6;
    margin: 150px;
    border-radius: 10px;
    padding: 40px 120px;
    display: flex;
    color: #E5E7EB;
}

.last-left h3 {
 font-size: 20px;
}

.last-left p {
    font-weight: 300;
    margin-right: -200px;
}

.last-right button {
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    justify-content: end;
    margin-left: 400px;
}

footer {
    background-color: #1f2937;
    height: 85px;
    color: #E5E7EB;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}